<mat-card>
  <mat-tab-group >
    <mat-tab label="Enrollment">
      <app-enrollment></app-enrollment>
    </mat-tab>
    <mat-tab label="Firmware">
      <app-firmware></app-firmware>
    </mat-tab>
  </mat-tab-group>
</mat-card>
